body{
    background-image: url(https://pa1.aminoapps.com/6947/5b60b4499cadf59c4eb9cd8a668328bf73344460r1-600-600_00.gif) ;
    
    
}
.conteiner{

}
.conteiner-centr{
    background-color: rgb(255, 218, 234);
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 650px;

}
h1{
    font-size: 50px;
}
pre{
    font-size: 40px;
    font-weight: 900;
}
@media (min-width: 768px) {
    .conteiner{
        margin-top: 50%;
    } 
}
